.section {
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 20px;

}

.left-column,
.right-column {
    flex: 1;
    max-width: 700px;
}

.center-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-image img {
    width: 450px;
    height: 450px;
}

.header {
    font-family: 'Chivo', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #150303;
    position: relative;
    display: inline-block;
}

.header-background {
    display: block;
    background-color: #fb0000;
    height: 5px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: -10px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #675e5e;
}

.book-now {
    margin-top: 25px;
    border: 2px solid #fb0000;
    color: #fb0000;
    background-color: transparent;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.list-section {
    list-style-type: none;
    padding: 0;
}

.list-section li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #675e5e;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.bullet {
    color: #fb0000;
    border: 1px solid #FFF0F0;
    background-color: #FFF0F0;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}


/* mediaquery */
@media only screen and (max-width: 1024px) {
    .section {
        height: 70vh;
        padding: 10px 30px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;

    }

    .center-image {
        display: block;
    }



    .right-column {
        height: 9rem
    }

    .list-section li {
        display: flex;
        align-items: center;
        margin: 20px 0;
        color: #675e5e;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        line-height: 40px;
    }

    .bullet {
        font-size: 30px;
    }

    .header {
        font-family: 'Chivo', sans-serif;
        margin-bottom: 20px;
        font-weight: 600;
        color: #150303;
        position: relative;
        display: inline-block;
    }

    .header-background {
        display: block;
        background-color: #fb0000;
        height: 5px;
        width: 20;
        position: absolute;
        left: 10px;
        top: -10px;
    }

    .description {
        font-size: 25px;
        text-align: left
    }

    .book-now {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .section {
        height: 70vh;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .left-column {
        margin-top: 100px;
        width: 600px;
    }

    .right-column {
        width: 600px;
        margin-bottom: 200px;
    }

    .center-image {
        display: block;
        width: 600px;
    }

    .list-section li {
        font-size: 25px;
        line-height: 33px;
    }

    .bullet {
        font-size: 25px;
    }

    .header {
        font-size: 30px;
    }

    .header-background {
        display: block;
        background-color: #fb0000;
        height: 8px;
        width: 38px;
        position: absolute;
        left: 10px;
        top: -10px;
    }

    .description {
        font-size: 30px;
        text-align: left
    }

    .book-now {
        width: 170px;
        padding: 7px 7px;
        font-size: 19px;
    }
}

@media only screen and (max-width: 480px) {
    .section {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 19rem;
    }

    .left-column {
        width: 400px;
    }

    .right-column {
        width: 400px;
    }

    .center-image {
        display: block;
        width: 280px;
    }

    .list-section li {
        width: 100%;
        font-size: 20px;
        line-height: 25px;
    }

    .bullet {
        font-size: 16px;
    }


    .header {
        font-size: 19px;
    }

    .header-background {
        display: block;
        background-color: #fb0000;
        height: 5px;
        width: 20px;
        position: absolute;
        left: 10px;
        top: -10px;
    }

    .description {
        width: 100%;
        font-size: 20px;
        text-align: left
    }

    .book-now {
        width: 100px;
        padding: 4px 4px;
        font-size: 14px;

    }


}