.our-price-container {
  margin-top: 0;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  position: relative;
}

.image-row {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image {
  width: 290px;
  max-width: 400px;
  height: auto;
}


.pricing-section {
  flex: 2;
  width: 100%;
  max-width: 552px;
  margin-left: 170px;
  margin-right: 5px;
}

.pricing-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 40px 0;
}

.heading-background {
  width: 50px;
  height: 5px;
  background-color: #fb0000;
  position: absolute;
  top: -10px;
  left: 70px;
}

.pricing-heading h2 {
  margin-left: 60px;
  font-family: 'Chivo', sans-serif;
  font-weight: 500;
  font-size: 44px;
  color: #150303;
  border-bottom: 1px solid black;
  text-align: left;
}

.pricing-list {
  list-style: none;
  padding: 10px;

}

.pricing-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #efdce4;
  padding: 0 10px;
}

.service {
  font-family: 'Chivo', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #150303;
}

.from,
.price {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.from {
  color: #3f4854;
}

.price {
  color: #fb0000;
}

@media (max-width: 1024px) {
  .our-price-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;

  }

  .image {
    margin: 0;
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .pricing-section {
    margin-right: 300px;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;


  }

}

@media (max-width: 768px) {
  .our-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;


  }

  .image {

    width: 100%;
    max-width: 240px;
    height: auto;
  }

  .pricing-section {
    margin-right: 300px;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    max-width: 550px;


  }


  .heading-background {
    width: 30px;

  }

  .pricing-heading h2 {
    font-family: 'Chivo', sans-serif;
    font-weight: 500;
    font: 20px;
    color: #150303;
    border-bottom: 1px solid black;
    text-align: left;
  }



}

@media (max-width: 480px) {
  .our-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

  }

  .image {

    width: 100%;
    max-width: 170px;
    height: auto;
  }

  .pricing-section {
    margin-right: 200px;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    max-width: 550px;


  }


  .heading-background {
    width: 20px;

  }

  .pricing-heading h2 {
    font-family: 'Chivo', sans-serif;
    /* font-weight: 500; */
    font: 10px;
    color: #150303;
    border-bottom: 1px solid black;
    text-align: left;
  }
}