.section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 690px;
}

.title {
    font-family: 'Chivo', sans-serif;
    font-size: 46px;
    font-weight: 500;
    text-align: center;
    color: #150303;
    position: relative;
    margin-bottom: 30px;

}

.title h1 {
    margin-bottom: 30px;
    text-align: center;
}

.title-background {
    position: absolute;
    top: -10px;
    left: 10;
    width: 50px;
    height: 5px;
    background: #fb0000;
}

.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 600px;
    padding: 20px;
    background-color: #150303;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Chivo', sans-serif;
    font-weight: 500;
    font-size: 20px;
}



.accordion-header::after {
    background-color: #fb0000;
    color: white;
}




.icon {
    color: #fff;
    font-size: 100px;

    transition: transform 0.3s ease;
}

.icon.expanded {
    transform: rotate(180deg);
}

.accordion-body {
    margin-top: 0;
    font-size: 18px;
    width: 100%;
    background-color: #fff;
    padding: 10px;
}

.service-item {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #efdce4;
}

.price {
    font-family: 'Open Sans', sans-serif;
    color: #3f4854;
    font-size: 18px;
}

.amount {
    padding-left: 7px;
    color: #fb0000;
    font-weight: 500;
    font-family: 'Chivo', sans-serif;
}

.right-section-img {
    flex: 2;
    margin-left: 60px;
    max-width: 100%;
    height: 550px;
}

.about-image {
    display: block;
    margin: 20px 30px auto;
    width: 500px;
    height: 550px;
}

@media (max-width: 1024px) {
    .accordion-header {
        height: 60px;
        width: 500px;
        padding: 20px;
        font-size: 20px;
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .right-section-img {
        flex: 1;
        width: 60px;
        height: 60;
    }
}

@media (max-width: 768px) {
    .accordion-header {
        height: 60px;
        width: 450px;
        padding: 20px;
        font-size: 20px;
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .right-section-img {

        width: 60px;
        height: 60;
    }
}

@media (max-width: 480px) {
    .section {
        margin-bottom: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 600px;
    }

    .title {

        font-weight: 500;
        color: #150303;
        position: relative;
        margin-bottom: 30px;
        font-size: 30px;
        text-align: left;
    }


    .accordion-header {
        height: 60px;
        width: 350px;
        padding: 20px;
        font-size: 20px;
    }



    .right-section-img {
        margin-right: 100px;
        width: 400px;
        height: 110px;

    }

}