@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: sans-serif;
}
body,
html {
  overflow-x: hidden;
  font-size: 62.5%;
  width: 100%;
}



:root {
  --header-col: #150303;
  --btn-col: #fb0000;
}